<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
  <div formArrayName="projects">
    <h3>Your projects</h3>
    <div class="form-group" *ngFor="let project of getProjects().controls; let j = index" [formGroupName]="j">
      <label>Project name</label>
      <input type="text" class="form-control" id="projectName" name="projectName" formControlName="projectName">
      <label>Strating date</label>
      <input type="text" class="form-control" formControlName="beginDate">
      <label>Ending date</label>
      <input type="text" class="form-control" formControlName="endDate">
      <label>Description</label>
      <textarea type="text" rows="3" class="form-control" formControlName="description"></textarea>
      <label>Link</label>
      <input type="text" class="form-control" formControlName="gitLink">
      <br>
      <button type="button" class="btn btn-danger" (click)="onSuppProject(j)">Delete</button>
      <br>
    </div>
    <button type="button" class="btn btn-success" (click)="onAddProject()">Add competence</button>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Save</button>
  <br>
</form>
