<br>
<div id="card" class="offset-sm-1 col-sm-10">
  <div class="container">
    <nav  class="navbar navbar-expand navbar-light bg-light">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="Profil" routerLinkActive="active">Profil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Experiences" routerLinkActive="active" >Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Projets" routerLinkActive="active" >Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Competences" routerLinkActive="active" >Competences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Hobbies" routerLinkActive="active" >Hobbies</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
