<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">

  <div formArrayName="competences">
    <h3>Your competences</h3>
    <div class="form-group" *ngFor="let competenceControl of getSkills().controls; let j = index" [formControlName]="j">
      <div class="row">
        <input type="text" class="form-control col-sm-10"  formControlName="skillName">
        <button type="button" class="btn btn-danger col-sm-2" (click)="onSuppSkill(j)">Delete</button>
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="onAddSkill()">Add competence</button>
  </div>
  <br>

  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save</button>
</form>
