<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
  <div formArrayName="competence">
    <h3>Your skills</h3>
    <div class="form-group" *ngFor="let hobbyControl of getSkills().controls; let i = index" [formGroupName]="i">
      <div class="row">
        <input type="text" class="form-control col-sm-10" id="skillName" name="skillName" formControlName="skillName">
        <button type="button" class="btn btn-danger col-sm-2" (click)="onSuppSkill(i)">Delete</button>
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="onAddSkill()">Add hobby</button>
  </div>
  <br>

  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save</button>
</form>
