<div class="row mt-5" id="titles">
  <h1 class="offset-md-3 col-md-6">Pol de Font-Réaulx</h1>
  <h2 class="offset-md-2 col-md-8">Software Engineer looking for job</h2>

</div>

<div class="row">
  <div class="offset-md-5 col-md-2 offset-sm-4 col-sm-4">
    <app-profil-picture></app-profil-picture>
  </div>
  <a href="../assets/documents/resume.pdf" class="col-md-2 col-sm-3" id="resume_button" target="_blank" title="my resume">
    <button class="btn btn-primary"><span class="fa fa-arrow-circle-o-down"></span> Resume</button>
  </a>
</div>

<div id="card" class="offset-md-1 col-md-10">
  <div class="container">
    <nav id="nav_bar">
      <ul class="nav row">
        <li class="nav-item col-md-2 nav_component"><a routerLink="activities" routerLinkActive="active" class="nav-link active">Activities</a></li>
        <li class="nav-item col-md-2 nav_component"><a routerLink="resume" routerLinkActive="active" class="nav-link">Resume</a></li>
        <li class="nav-item col-md-4 nav_component"></li>
        <li class="nav-item col-md-2 nav_component"><a routerLink="projects" routerLinkActive="active" class="nav-link">Projects</a></li>
        <li class="nav-item col-md-2 nav_component"><a routerLink="contact" routerLinkActive="active" class="nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
