<div>
  <h2 class="offset-md-2 col-md-8">Experiences</h2>
  <br>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let t of test">
      <app-experience></app-experience>
    </li>
  </ul>
  <br>
  <h2 class="offset-md-2 col-md-8">Skills</h2>
  <br>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let t of test">
      <app-skill></app-skill>
    </li>
  </ul>
  <br>
  <h2 class="offset-md-2 col-md-8">Hobbies</h2>
  <br>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let t of test">
      <app-hobbie></app-hobbie>
    </li>
  </ul>
  <br>
</div>
