<div class="row container-fluid">
  <div class="col-sm-8 encadre">
  <h2 class="offset-md-2 col-md-8 tittle">Experiences</h2>
  <li class="list-group-item encadre" >
      <app-experience ></app-experience>
  </li>
  </div>
  <div class=" col-sm-4 encadre">
  <h2 class="tittle">Skills</h2>
    <li class="list-group-item encadre" >
      <app-skill></app-skill>
    </li>


  <h2 class="tittle">Hobbies</h2>

    <li class="list-group-item encadre" >
      <app-hobbie></app-hobbie>
    </li>

  </div>
</div>
